@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");
.hero {
  width: 100%;
  height: 963px;
  background-image: url("../Multimedia/Img/HeroBackground.jpg");
  background-position: top center;
  background-size: cover;
}
.hero h1 {
  height: 60%;
  font-family: var(--font-family-title);
  font-size: 80px;
  color: #ecf010;
  display: flex;
  align-items: flex-end;
}
.hero p {
  height: auto;
  display: flex;
  align-items: flex-start;
  text-align: justify;
  color: #ecf010;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 30%;
}

/* placeholder = % + nombre {} */
.portfolioProjects .p09, .portfolioProjects .p08, .portfolioProjects .p07, .portfolioProjects .p06, .portfolioProjects .p05, .portfolioProjects .p04, .portfolioProjects .p03, .portfolioProjects .p02, .portfolioProjects .p01 {
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio {
  width: 100%;
  height: 437px;
  background-color: rgba(250, 247, 247, 0.953);
  grid-template-rows: repeat(3, 1fr);
}
.portfolio h2 {
  display: flex;
  height: 30%;
  align-items: flex-end;
  justify-content: center;
}
.portfolio p {
  display: flex;
  height: 30%;
  align-items: flex-start;
  padding-top: 5px;
  padding-right: 20%;
  padding-left: 20%;
  justify-content: center;
  text-align: center;
}
.portfolio nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 30px;
  height: 13px;
}
.portfolio nav ul li {
  display: flex;
  width: 150px;
  height: 40px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #F2F5F7;
}
.portfolio nav ul li:hover {
  transform: scale(1.1, 1.1);
  background-color: #ecf010;
  transition: all 1s;
}

.portfolioProjects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 5px;
  grid-auto-flow: dense;
}
.portfolioProjects .big {
  grid-column: span 2;
  grid-row: span 2;
}
.portfolioProjects h2 {
  display: flex;
  height: 50%;
  align-items: flex-end;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Ubuntu";
  font-size: 30%;
  color: transparent;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.portfolioProjects h2:hover {
  font-family: "Ubuntu";
  font-size: 200%;
  color: #ecf010;
  font-style: normal;
  font-weight: 700;
}
.portfolioProjects h4 {
  display: flex;
  padding-top: 5px;
  padding-left: 10%;
  padding-right: 10%;
  align-items: flex-start;
  justify-content: center;
  line-height: 21px;
  font-family: "Ubuntu";
  font-size: 30%;
  color: transparent;
  font-style: normal;
  font-weight: 700;
  text-align: justify;
}
.portfolioProjects h4:hover {
  font-family: "Ubuntu";
  font-size: 12PX;
  color: #ecf010;
  font-style: normal;
  font-weight: 700;
}
.portfolioProjects .p01 {
  background-image: url("../Multimedia/Img/Work_01.jpg");
}
.portfolioProjects .p02 {
  background-image: url("../Multimedia/Img/Work_02.jpg");
}
.portfolioProjects .p03 {
  background-image: url("../Multimedia/Img/Work_03.jpg");
}
.portfolioProjects .p04 {
  background-image: url("../Multimedia/Img/Work_04.jpg");
}
.portfolioProjects .p05 {
  background-image: url("../Multimedia/Img/Work_05.jpg");
}
.portfolioProjects .p06 {
  background-image: url("../Multimedia/Img/Work_06.jpg");
}
.portfolioProjects .p07 {
  background-image: url("../Multimedia/Img/Work_07.jpg");
}
.portfolioProjects .p08 {
  background-image: url("../Multimedia/Img/Work_08.jpg");
}
.portfolioProjects .p09 {
  background-image: url("../Multimedia/Img/Work_09.jpg");
}

.service {
  width: 100%;
  height: 670px;
}
.service h2 {
  display: flex;
  height: 40%;
  align-items: center;
  justify-content: center;
}

.serviceItems {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.serviceItems article {
  width: 100%;
  display: flex;
  display: inline-block;
  text-align: center;
  width: 15%;
}
.serviceItems article img {
  padding-bottom: 15px;
}

.contact {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  height: auto;
}
.contact h2 {
  padding-bottom: 20px;
  display: flex;
  height: 40%;
  align-items: center;
  justify-content: center;
}
.contact .contactItem {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
  padding-top: 50px;
  gap: 5px;
  grid-auto-flow: dense;
  justify-items: center;
}
.contact .contactItem .contact-data {
  padding-top: 25px;
  width: 80%;
  height: 280px;
  display: inline-block;
}
.contact .contactItem .contact-data .items {
  display: flex;
}
.contact .contactItem .contact-data .items img {
  width: 24px;
  height: 24px;
}
.contact .contactItem .contact-data .items p {
  display: flex;
  padding-left: 5px;
  min-height: 24px;
}
.contact .contactItem .contact-form {
  width: 80%;
  height: 280px;
}

.footer {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #ecf010;
  margin-top: 5%;
  font-family: "Ubuntu";
  font-weight: normal;
  font-size: 11px;
  color: #A1AEB7;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
}

/* placeholder = % + nombre {} */
.portfolioProjects .p01, .portfolioProjects .p02, .portfolioProjects .p03, .portfolioProjects .p04, .portfolioProjects .p05, .portfolioProjects .p06, .portfolioProjects .p07, .portfolioProjects .p08, .portfolioProjects .p09 {
  background-repeat: no-repeat;
  background-size: cover;
}

.clients {
  width: 100%;
  height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clients h2 {
  height: 100px;
  align-items: center;
  justify-content: center;
}
.clients .LogosClientes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.clients .LogosClientes div {
  width: 400px;
  align-items: center;
}
.clients .LogosClientes div img {
  width: 100%;
  justify-content: center;
}
.clients .LogosClientes div p {
  text-align: center;
  font-family: "Ubuntu";
  font-size: 12px;
  color: #A1AEB7;
  font-style: normal;
  font-weight: 400;
}

.aboutMe .aboutMe_portada {
  height: 566px;
  background-image: url("../Multimedia/Img/AboutMePortada.jpg");
}
.aboutMe .aboutMe_description .Ido {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
}
.aboutMe .aboutMe_description .Ido h3 {
  width: 50%;
  height: auto;
  text-align: center;
}
.aboutMe .aboutMe_description .Ido p {
  width: 50%;
  height: auto;
}
.aboutMe .aboutMe_description .about {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
}
.aboutMe .aboutMe_description .about h3 {
  width: 50%;
  height: auto;
  text-align: center;
}
.aboutMe .aboutMe_description .about p {
  width: 50%;
  height: auto;
}

/* placeholder = % + nombre {} */
.portfolioProjects .p01, .portfolioProjects .p02, .portfolioProjects .p03, .portfolioProjects .p04, .portfolioProjects .p05, .portfolioProjects .p06, .portfolioProjects .p07, .portfolioProjects .p08, .portfolioProjects .p09 {
  background-repeat: no-repeat;
  background-size: cover;
}

.projects .projectHero {
  width: 100%;
  height: 675px;
  display: flex;
  float: left;
  flex-direction: row;
  margin-top: 50px;
}
.projects .projectHero .projectTitle {
  width: 50%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 10%;
}
.projects .projectHero .projectTitle h2 {
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 10%;
  text-align: center;
}
.projects .projectHero .projectAbout {
  width: 50%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 10%;
}
.projects .projectHero .projectAbout .projectDescription {
  width: 100%;
  margin-top: 20%;
  height: auto;
  text-align: justify;
}
.projects .projectHero .projectAbout .projectKeyword {
  margin-top: 20px;
  display: flex;
}
.projects .projectHero .projectAbout .projectKeyword h3 {
  text-align: start;
  font-family: "Ubuntu";
  font-size: 16px;
  color: #505D68;
  font-style: bold;
  font-weight: 600;
}
.projects .projectHero .projectAbout .projectInteraction {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.projects .projectHero .projectAbout .projectInteraction div {
  width: 50px;
}
@media screen and (max-width: 400px) {
  .projects .projectHero {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .projects .projectHero .projectTitle {
    width: 100%;
  }
  .projects .projectHero .projectAbout {
    width: 100%;
  }
}
.projects .projectImg img {
  width: 100%;
  background-color: #505D68;
}

/* placeholder = % + nombre {} */
.portfolioProjects .p01, .portfolioProjects .p02, .portfolioProjects .p03, .portfolioProjects .p04, .portfolioProjects .p05, .portfolioProjects .p06, .portfolioProjects .p07, .portfolioProjects .p08, .portfolioProjects .p09 {
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 1fr);
  margin: 0%;
}

/* esto deberia pasar a variables pero tengo que ver que me conviene usar*/
.title {
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #505D68;
}

.subtitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 21px;
  color: #505D68;
  font-weight: Bold;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #A1AEB7;
  font-weight: normal;
}

li {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #505D68;
  font-weight: Bold;
}

/*# sourceMappingURL=style.css.map */
