@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
@import 'componentes/hero.scss';
@import 'componentes/portfolio.scss';
@import 'componentes/service.scss';
@import 'componentes/contact.scss';
@import 'componentes/footer.scss';
@import 'componentes/clients.scss';
@import 'componentes/aboutMe.scss';








body{

    *{
        margin: 0;
        padding: 0;
    }

}

.container{
    width: 100%;
    max-width: 100%;

    display: grid;
    grid-template-columns:  minmax(auto , 1fr);
    margin: 0%;

}

/* esto deberia pasar a variables pero tengo que ver que me conviene usar*/
.title{
    font-family:'Ubuntu', sans-serif;
    font-size:50px;
    font-weight: bold;
    color:#505D68 ;
}

.subtitle{
    font-family:'Ubuntu', sans-serif;
    font-size:21px;
    color:#505D68;
    font-weight:Bold;
}

p{
    font-family:'Ubuntu', sans-serif;
    font-size: 14px;
    color: #A1AEB7;
    font-weight:normal;
}

li{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color:#505D68;
    font-weight: Bold;
}





