@mixin tipogrfia ($fontFamily, $fontSize, $fontColor, $fontStyle, $fontWeight) {
        font-family: $fontFamily;
        font-size: $fontSize;
        color: $fontColor;
        font-style: $fontStyle;
        font-weight: $fontWeight;
  
}
