@import "../base/colors";
@import "../base/extends";
@import "../base/mixins";



.portfolio{

    width: 100%;
    height: 437px;
    background-color:$withe;
    grid-template-rows: repeat(3,1fr);

    h2{
        display: flex;
        height: 30%;
        align-items: flex-end;
        justify-content: center;
    }

    p{
        display: flex;
        height: 30%;
        align-items: flex-start;
        padding-top: 5px;
        padding-right: 20%;
        padding-left: 20%;
        justify-content: center;
        text-align: center;
    }

    nav{
        ul{
            display: flex;
            justify-content: center;
            list-style: none;
            margin-top: 30px;
            height:13px;  

            li{
                display: flex;
                width: 150px;
                height: 40px;
                margin: 5px;
                align-items: center;
                justify-content: center;
                
                text-decoration: none;
                background-color:#F2F5F7;

                &:hover{
                    transform: scale(1.1,1.1);
                    background-color:$yelow;
                    transition: all 1s;

                }

            }
        }
    }

}

.portfolioProjects{

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    grid-auto-rows: minmax(300px , auto);
    
    gap: 5px;
    grid-auto-flow: dense;

    .big{
        grid-column: span 2;
        grid-row: span 2;
    }

    h2{

        display: flex;
        height: 50%;
        align-items: flex-end;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
        @include tipogrfia ('Ubuntu',30%, $transparente,normal,700);
      
        line-height: 21px;
        

        &:hover{
            @include tipogrfia ('Ubuntu',200%, $yelow,normal,700);
            
        }
    }
    
    h4{

        display: flex;
        padding-top: 5px;
        padding-left: 10%;
        padding-right: 10%;
        align-items: flex-start;
        justify-content: center;
      
        line-height: 21px;
        @include tipogrfia ('Ubuntu',30%, $transparente, normal,700);
        text-align: justify;

        &:hover{
            @include tipogrfia ('Ubuntu',12PX, $yelow,normal,700);
        }
    }
    .p01{
        background-image: url("../Multimedia/Img/Work_01.jpg");
        @extend %portfoliocard;
    }
    .p02{
        background-image: url("../Multimedia/Img/Work_02.jpg");
        @extend %portfoliocard;
    }
    .p03{
        background-image: url("../Multimedia/Img/Work_03.jpg");
        @extend %portfoliocard;
    }
    .p04{
        background-image: url("../Multimedia/Img/Work_04.jpg");
        @extend %portfoliocard;
    }
    .p05{
        background-image: url("../Multimedia/Img/Work_05.jpg");
        @extend %portfoliocard;
    } 
    .p06{
        background-image: url("../Multimedia/Img/Work_06.jpg");
        @extend %portfoliocard;
    }
    .p07{
        background-image: url("../Multimedia/Img/Work_07.jpg");
        @extend %portfoliocard;
    }
    .p08{
        background-image: url("../Multimedia/Img/Work_08.jpg");
        @extend %portfoliocard;
    }
    .p09{
        background-image: url("../Multimedia/Img/Work_09.jpg");
        @extend %portfoliocard;
    }

}